<div class="container">
    <div class="container-fluid">
        <div class="About-user">
            <div class="main">
                <div>
                    <h3>Nom</h3>
                    <p>...</p>
                </div>
                <div>
                    <h3>Prenom</h3>
                    <p>...</p>
                </div>
                <div>
                    <h3>Email</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
        <button (click)="fetchUser()">Click</button>
    </div>
</div>